.box1 {
	width: 400px;
	height: 400px;
	background: blue;
	margin-left: 300px;
	margin-top: 50px;
}
.box2 {
	width: 266px;
	height: 266px;
	background: red;
	margin-left: 68px;
	margin-top: 65px;
}
.box3 {
	width: 150px;
	height: 150px;
	background: yellow;
	margin-left: 58px;
	margin-top: 40px;
}